[color]
	ui = auto
[commit]
	gpgsign = true
[credential]
	helper = store
[gpg]
	program = gpg2
[push]
	default = simple
[user]
	email = dragonmaus@posteo.net
	name = David Wildasin
	signingkey = 86D0257D17C3F578D1CBF5B924C74880EEEAF94B
